/* ================= NAVBAR ONLY ================= */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px;
  background-color: #1E3A8A;
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo {
  font-weight: 500;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Arial;
  color: #f5f7fb;
  cursor: pointer;
}

.img {
  height: auto;
  width: 50px;
}

/* NAV LINKS */
.navbar ul {
  display: flex;
  gap: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-txt {
  font-family: 'Roboto', sans-serif;
  color: #f5f7fb;
}

.nav-txt li {
  cursor: pointer;
  transition: 0.2s ease;
}

.nav-txt li:hover {
  color: #bfbdcdcd;
  border-bottom: 1.5px solid #ffffff;
}

/* RIGHT SIDE */
.nav-actions {
  display: flex;
  align-items: center;
}

/* SIGN IN BUTTON */
.btn-signin {
  background: #ffffff;
  color: #1E3A8A;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-family: 'Roboto';
  cursor: pointer;
  font-weight: 500;
}

/* PROFILE CONTAINER */
.profile-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* AVATAR */
.profile {
  cursor: pointer;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: white;
  color: #1E3A8A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  width: 220px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  padding: 10px 0;
  z-index: 999;
}

/* DROPDOWN HEADER */
.dropdown-header {
  padding: 10px 15px;
}

.user-name {
  font-weight: bold;
  margin: 0;
}

.user-email {
  font-size: 12px;
  color: gray;
}

/* DROPDOWN ITEMS */
.dropdown p {
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
}

.dropdown p:hover {
  background: #f2f2f2;
}

.dropdown hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #eee;
}

.logout {
  color: red;
}

.hero {
  text-align: center;
  padding: 10vh 20px;          
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;       
  align-items: center;
  min-height: 70vh;          
}

.hero h1 {
  font-size:70px;
  margin-bottom: 3rem;               
}

.hero p {
  font-weight: 400;
  color: gray;
  font-size: clamp(14px, 2vw, 18px);  
  margin-bottom: 2rem;
      
}

.hero-buttons button {
  margin: 17px;
  cursor: pointer;
}


/* BUTTONS */
.primary {
  background: linear-gradient(180deg, #2f4ea1, #3c5fc4);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: 300;
}
.primary:hover{
  background: #213671;
  
}

.secondary {
  border: 1px solid #2f4ea1;
  color: #2f4ea1;
  background: transparent;
  padding: 15px 20px;
  border-radius: 6px;
}
.secondary:hover{
  border: 1px solid #0f2151;
  background-color:#2d2d5cda;
  color: white;

}