/*roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/*IBM Plex Mono*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&display=swap');
/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  background: #f5f7fb;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px;
  cursor: pointer;
}

.logo {
  font-weight: bold;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Arial;
}

.img {
  height: auto;
  width: 50px;
}

.navbar ul {
  display: flex;
  gap: 80px;
  list-style: none;
}
li:hover{
  border-bottom: #1E3A8A solid 1.5px;
}

.nav-txt{
  font-family: 'Roboto', sans-serif;
 
}

.nav-actions a{
  color: #1E3A8A;
  font-family: 'roboto';
}
li:hover{
  color: #1E3A8A;
}


.hero {
  text-align: center;
  padding: 10vh 20px;          
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;       
  align-items: center;
  min-height: 70vh;          
}

.hero h1 {
  font-size:70px;
  margin-bottom: 3rem;               
}

.hero p {
  font-weight: 400;
  color: gray;
  font-size: clamp(14px, 2vw, 18px);  
  margin-bottom: 2rem;
      
}

.hero-buttons button {
  margin: 17px;
  cursor: pointer;
}


/* BUTTONS */
.primary {
  background: linear-gradient(180deg, #2f4ea1, #3c5fc4);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: 300;
}
.primary:hover{
  background: #213671;
  
}

.secondary {
  border: 1px solid #2f4ea1;
  color: #2f4ea1;
  background: transparent;
  padding: 15px 20px;
  border-radius: 6px;
}
.secondary:hover{
  border: 1px solid #0f2151;
  background-color:#2d2d5cda;
  color: white;

}

/* SERVICES */
.services {
  padding: 40px;
  text-align: center;
}
.services h2{
   margin-bottom: 2rem;
   font-family: 'Poppins', sans-serif;
   font-size:large;
   font-weight: 500;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 230px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h3{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1rem;
}
.card p{
   font-family: 'Roboto', sans-serif;
}
.card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}

.seemore{
  display: inline-block;
  margin-top: 40px;
  padding: 5px; 
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: bold;
  color: #1E3A8A;

  border-bottom: 2px solid transparent;
}
.seemore:hover{
  border-bottom: 2px solid #1E3A8A;
}

/* HOW IT WORKS */
.how {
  background: linear-gradient(180deg, #2f4ea1, #3c5fc4);
  color: white;
  padding: 40px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.steps div {
  text-align: center;
}

/* AUTH */
.auth-container {
  width: 300px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.auth-container input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

/* DASHBOARD */
.dashboard {
  display: flex;
}

.dashboard aside {
  width: 200px;
  background: white;
  height: 100vh;
  padding: 20px;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
}

